<div id="songs-folder" style="display: none;">
    <div class="application-window" style="width: 40rem;">
        <div class="window-header">
            <div class="window-header-top">
                <img src="{{ url_for('static', filename='styles/images/file.png') }}" style="width: 20px; margin-left: 2px;">
                <span style="color: white; margin-left: 3px;">songs</span>
                <img onclick="closeModal('songs-folder');" src="{{ url_for('static', filename='styles/images/Exit.png') }}" class="close-button" style="width: 20px;">
            </div>
            <div class="window-header-toolbar">
                <div class="toolbar">
                    <div class="toolbar-btn">File</div>
                    <div class="toolbar-btn">Edit</div>
                    <div class="toolbar-btn">Edit</div>
                    <div class="toolbar-btn">Favorites</div>
                    <div class="toolbar-btn">Tools</div>
                    <div class="toolbar-btn">Help</div>
                </div>
                <div class="second-toolbar">
                    <div class="second-toolbar-btn">
                        <img src="{{ url_for('static', filename='styles/images/setaesquerda.png') }}">
                        <span>Back</span>
                    </div>
                    <div class="second-toolbar-btn">
                        <img src="{{ url_for('static', filename='styles/images/setadireita.png') }}">
                    </div>
                    <div class="second-toolbar-btn" style="margin-left: .5rem;"> 
                        <img src="{{ url_for('static', filename='styles/images/shell32.dll_14_235-8.png') }}" style="width: 30px;">
                    </div>
                    <div class="second-toolbar-btn" style="margin-left: .5rem;">
                        <img src="{{ url_for('static', filename='styles/images/search1.png') }}" style="width: 30px;">
                        <span>Search</span>
                    </div>
                    <div class="second-toolbar-btn" style="margin-left: .5rem;">
                        <img src="{{ url_for('static', filename='styles/images/file.png') }}" style="width: 30px;">
                        <span>Folders</span>
                    </div>
                </div>
                </div>
            </div>
        <div class="window-body">
            
            <div class="spaces" style="display: flex; flex-direction: row; flex-wrap: wrap; margin: .5rem;">
                {% for song in songs %}
                    <div onclick='openModal("{{ song }}-player")' class="space" style="display: flex; flex-direction: row; align-items: center; justify-content: left; width: 10rem; margin: .5rem; cursor: pointer;">
                        <img src="{{ url_for('static', filename='styles/images/song-icon.png') }}" style="width: 50px;">
                        <span  style="margin-left: 5px;">{{ song }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
