<div id="song-toast" style="display: none;">
    <div class="application-window" id="song-toast-application-window">
        <div class="window-header">
            <div class="window-header-top">
                <span style="color: white; margin-left: 10px;">Notification</span>
                <img onclick="closeModal('song-toast');" src="{{ url_for('static', filename='styles/images/Exit.png') }}" class="close-button" style="width: 20px;">
            </div>
        </div>
        <div class="window-body">
            <div id="song-toast-content"></div>
        </div>
    </div>
</div>
